body {
    font: 900 120px/1 "source sans pro", arial, sans-serif;
    background-color: #becccc;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    letter-spacing: -3px;
    padding-top: 10%;
}

h1 {
    position: absolute;
    top: 30%;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    text-shadow: 0 1px 0 hsl(174, 5%, 80%), 0 2px 0 hsl(174, 5%, 75%), 0 3px 0 hsl(174, 5%, 70%), 0 4px 0 hsl(174, 5%, 66%), 0 5px 0 hsl(174, 5%, 64%), 0 6px 0 hsl(174, 5%, 62%), 0 7px 0 hsl(174, 5%, 61%), 0 8px 0 hsl(174, 5%, 60%), 0 0 5px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3);
}

body:hover {
    background: #e2f3f3;
    transition: 2s ease-in;
}

h1:hover {
    color: #d9ecec;
    transition: 2s ease-out;
}